.viewContainer {
  width: 1322px;
  margin: 30px;
}

.teamContainer {
  --bs-gutter-x: 0rem;
  margin-bottom: 10px;
}

.gridHeader {
  padding: 10px;
}

.gridHeaderRow {
  margin: 0px 0px 10px 0px;
  background-color: #e2e4ee;
  padding: 20px;
}

.gridRow {
  font-size: 16px;
  font-weight: 700;
  margin: 10px;
  border-bottom: 1px solid #ddd;
}

.buttonA {
  padding: 5px 30px;
  background-color: #2e334e;
}

.colHours {
  display: flex;
  max-width: 200px;
}

.colDecoration {
  padding: 8px 0px;
  margin: 0px 0px 7px 0px;
  text-align: center;
  background-color: rgba(226, 228, 238, 0.30);

  .colBorder {
    border-right: 0.3px solid #ccc;
    line-height: .8;
  }
}

.colDecoration:last-child {
  .colBorder {
    border-right: none;
  }
}

.teamMembers {
  font-size: 26px;
  font-weight: 700;
  font-family: arial;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 10px 0px 10px;
}

.teamMembersTotal {
  font-size: 12px;
  color: #888;
}

.searchField {
  background-color: #fff;
  font-size: 14px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 5px 15px;
  color: #333;
}

.sortToggle,
.collapseToggle {
  font-size: 14px;
  cursor: pointer;
  color: #888;
  margin-right: 20px;

}

.searchToggle {
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
}